body{
    background-color: #000000;
    margin: 0;
}
canvas{
    display: block;
}
h1{
    color: white;
    text-align: center;
}
label{
    color: white;
}
.instructions{
    color: white;
    display: block;
    width: 100vw;
}